{% extends 'base.html' %}
{% block content %}

<html lang = "en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <meta charset="utf-8">
    <title>Rendezvous Map v3</title>
<script src="https://code.jquery.com/jquery.js"></script>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h3>Rendezvous Map</h3>
    <div id="map"></div>
    <div id="legend"><h3>Legend</h3></div>
    <script>
      /* to pass invite_id, login, and center position, and user names to the javascript */
      var user_id = {{ session.user_id }}
      var invite_id = {{ invite_id }}
      var center_lat = {{ center[0] }}
      var center_lng = {{ center[1] }}
      var users_names ={}
        {% for user in waypoints %}
            
    </script>

    <script src="static/js/rendezvous-map.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap">
    </script>

  </body>
  {% endblock %}
