 /* Set the map height explicitly or it will be zero height */
#map {
  /*setting height at 80 is only thing I've found that keeps map from being
    taller than the browser window height.  :(  */
  height: 80%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
    background-size: cover;
    background: url(static/css/img/1216px-1932_Candrain_Map_SF.jpg) no-repeat center center;
}

#my-bootstrap-row {
    background: rgba(255, 210, 0, 0.65); /* translucent yellow */
}

#legend {
      background: white;
      padding: 5px;
      border: 1px solid black;
      margin-left: 5px;
      border-radius: 5px;
    }

/* Example CSS from CSS lecture */
/*h1 {
  font-family: sans-serif;
  color: blue;
}

h1 {
  color: pink;
}

div.urgent {
  color: red;
  font-weight: bold;
}

div {
  background-color: blue;
}

#notice {
  font-family: monospace;
  font-size: 3em;
  width: 15em;
  margin: 0 auto;
}
*/