/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-top: 2%;
  padding-right: 0%;
  padding-left: 0%;
  font-family: 'Roboto', sans-serif;
  font-family: 'Playfair Display', serif;
}

body {
    /*background-size: cover;*/
    background: url(/static/img/1216px-1932_Candrain_Map_SF_brighter2.jpg) center center;
}

.container {
    background: rgba(251, 234, 206, 0.90); /* translucent tanish matches map image*/
    width: 100%;
}

h1, h2, h3, h4 {
  color: rgb(70, 91, 119);

}

form {
  color: rgb(70, 91, 119);
}

.btn-new-invite {
  background-color: rgb(70, 91, 119);
  background-image: rgb(70, 91, 119);
  margin: 10px auto;
  color: #fff;
}


li.active>#profile-pill{
  background-color: rgb(70, 91, 119);
}

li.active>#sent-pill{
  background-color: rgb(70, 91, 119);
}

li.active>#recd-pill{
  background-color: rgb(70, 91, 119);
}

li.active>#friends-pill{
  background-color: rgb(70, 91, 119);
}

a {
  color: #337ab7;
}

a.focus, a.hoover {
  color: #23527c;
  text-decoration: underline;
}

.alert-success{
  /*background-image: webkit-linear-gradient(top,rgb(181, 150, 99) 0, rgb(181, 150, 99) 100%);*/
    background-image: none;
    background-color: rgb(181, 150, 99);
    color: #F4F9F3;
    font-weight: bolder;
}

input[type=text] {
  font-family: 'Roboto', sans-serif;
}

/* Example CSS from CSS lecture */
/*h1 {
  font-family: sans-serif;
  color: blue;
}

h1 {
  color: pink;
}

div.urgent {
  color: red;
  font-weight: bold;
}

div {
  background-color: blue;
}

#notice {
  font-family: monospace;
  font-size: 3em;
  width: 15em;
  margin: 0 auto;
}
*/