/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    background-size: cover;
    background: url(/static/img/1216px-1932_Candrain_Map_SF.jpg) no-repeat center center;
}

.container {
    background: rgba(251, 234, 206, 0.75); /* translucent tanish matches map image*/
}

li.active>#profile-pill{
  background-color: rgb(70, 91, 119)
}

li.active>#sent-pill{
  background-color: rgb(70, 91, 119)
}

li.active>#recd-pill{
  background-color: rgb(70, 91, 119)
}

li.active>#friends-pill{
  background-color: rgb(70, 91, 119)
}

a {
  color: rgb(70, 91, 119)
}
/*.nav-pills>li.active>a{
  background-color: rgb(70, 91, 119)
}
*/
/* Example CSS from CSS lecture */
/*h1 {
  font-family: sans-serif;
  color: blue;
}

h1 {
  color: pink;
}

div.urgent {
  color: red;
  font-weight: bold;
}

div {
  background-color: blue;
}

#notice {
  font-family: monospace;
  font-size: 3em;
  width: 15em;
  margin: 0 auto;
}
*/