 /* Set the map height explicitly or it will be zero height */
#map {
  /*setting height at 80 is only thing I've found that keeps map from being
    taller than the browser window height.  :(  */
  height: 80%;
  width: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 1%;
  background: rgb(251, 234, 206);
  font-family: 'Roboto', sans-serif;
  font-family: 'Playfair Display', serif;
  color: rgb(70, 91, 119);
}

#legend {
      background: rgb(251, 234, 206);
      padding: 5px;
      border: 1px solid black;
      margin-right: 2px;
      border-radius: 5px;
    }

a {
  color: #337ab7;
}

a.focus, a.hoover {
  color: #23527c;
  text-decoration: underline;
}

/* Example CSS from CSS lecture */
/*h1 {
  font-family: sans-serif;
  color: blue;
}

h1 {
  color: pink;
}

div.urgent {
  color: red;
  font-weight: bold;
}

div {
  background-color: blue;
}

#notice {
  font-family: monospace;
  font-size: 3em;
  width: 15em;
  margin: 0 auto;
}
*/