<!DOCTYPE html>
<html>
<head>
    <title>Rendezvous</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body class="starter-template container">
  
    <h4>Rendezvous</h4>
   <hr>
{% for message in get_flashed_messages() %}
    <span> {{ message }}</span>
{% endfor %}
    <hr>

    {% block content %} put your content here {% endblock %}

<p>
    <hr>
  <a href="/"><h5>Click here to go to homepage.</h5></a>
</p>
<p>
{% if 'login' not in session %}
  <a href="/login"><h5>Click here to log in.</h5></a>
  <h5>Don't have an account? <a href="/register">Click here to register.</a></h5>
{% endif %}
</p>
<hr>
    <p>
    {% if 'user_name' in session %}
    <small>You are currently logged in as {{ session['user_name'] }}.<br>
      <a href="/users/{{ session['user_id'] }}"> Click here to go to your profile</a>
    </small>
   <p>
    <form action='/logout'>
    <input type='submit' value='logout'>
</form>
</p> 
    {% endif %}
  </p>

</body>
</html>