<!DOCTYPE html>
<html>
<head>
  <!-- title is on browser tab -->
    <title>Rendezvous</title> 

<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body class="starter-template container">
  
  <h4>Rendezvous</h4>
   <hr>
   flash here
{% for message in get_flashed_messages() %}
    <span> {{ message }}</span>
    <hr>
{% endfor %}


    {% block content %} put your content here {% endblock %}

<p>
{% if 'user_id' not in session %}
  <a href="/login"><h5>Click here to log in.</h5></a>
  <h5>Don't have an account? <a href="/register">Click here to register.</a></h5>
{% endif %}
</p>
<hr>
    <p>
    {% if 'user_name' in session %}
    <small>You are currently logged in as {{ session['user_name'] }}.<br>
      <a href="/users/{{ session['user_id'] }}"> Click here to go to your profile</a>
    </small>
   <p>
    <form action='/logout'>
    <input type='submit' value='logout'>
</form>
</p> 
    {% endif %}
  </p>

</body>
</html>