<!DOCTYPE html>
<html>
<head>
    <title>Rendezvous</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body class="starter-template container">
    <h4>Rendezvous</h4>
    <hr>
{% for message in get_flashed_messages() %}
    <span> {{ message }}</span>
{% endfor %}

    {% block content %} put your content here {% endblock %}

<p>
    <br>
    <br>
  <a href="/"><h5>Click here to go to homepage.</h5></a>
</p>
<p>
{% if 'user_id' not in session %}
  <a href="/login"><h5>Click here to log in.</h5></a>
  <h5>Don't have an account? <a href="/register">Click here to register.</a></h5>
{% endif %}
</p>
</body>
</html>