{% extends 'base.html' %}
{% block content %}

<!-- need to add route in server.py for this page -->

<!-- WAIT = why have this as a separate page, why not just have deets on
    users page with accept/decline buttons there?? -->

<div id="PendingInvite" class="tab-pane fade">
    <h2>Pending Invitation</h2>
        List invitation details followed by Accept or Reject buttons
        {{ invite.rendezvous_date }} {{ invite.rendezvous_name }} 

            <form action='/invitation-accept-reject.json', method='POST' name='inviteform'>
                <input type='hidden' name='invite_id' value={{ invite.invite_id }}>
                <input type='submit'name='submit_button' value= 'Accept' >
                <input type='submit'name='submit_button' value= 'Accept' >
            </form>

</div>

{% endblock %}