{% extends 'base.html' %}
{% block content %}

<p class="blue-text">Enter your email address and password to log in</p>
<p>
<form id="login-form" action="/login" method="POST">
<label>Email <input type="text" name="email" id="email_login" autofocus></label>
<br>
<label>Password <input type="password" name="password" id="password_login"></label>
<!-- <input type="submit" name="user_id" value="Login" id="submit_login"> -->
</form><br>
<button type="submit" form="login-form" class="btn btn-login" role="button" value="Login">Login</button>
</p>

<!-- JavaScript starts here -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

{% endblock %}