<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rendezvous Map v2</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
      <script src="https://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <h3>Rendezvous Map</h3>
    <div id="map"></div>
    <script>

      //define the map and lines outside of the GoogleMaps stuff so that I can access it
      // to add the symbols and lines for self and others in my callback function
      var map;
      var selfLine;
      var userLine;
      var waypointsByUserLength;

      // this waits until the page is loaded, then runs dataReceived
      $(function() {
        // then queries for the waypoint data for this invite
        $.get('/map-data.json', { invite_id: {{ invite_id }} }, dataReceived);
        });

       //this is the callback function after json data is received.
       //   it divies up the json into a separate object for self and
       //   for others.  Add self line & symbol in one swoop, and iterate through
       //   the others to add each one's line and symbol
      function dataReceived(results) {
        waypoints_for_self = results[0]['waypoints'];
        var waypointsForSelfLength = waypoints_for_self.length;

        waypoints_by_user = results[1];
        waypointsbyUserLength  = waypoints_by_user.length;
        console.log(waypoints_by_user);
        console.log(waypointsbyUserLength);

        //first pass is for self (the user who is currently logged in)
        // Define symbol
        var selfLineSymbol = {
          path: google.maps.SymbolPath.CIRCLE,
          scale: 4,
          // logged in user has a green dot
          strokeColor: '#393'
            };

        //  NOTE:  to draw the polyline of route:
        //  path = needs to be formated as: 
        //    [{'lat': 37.748915, 'lng': -122.4181515}, {'lat': 37.7482293, 'lng': -122.4182139}...] 

        var pathList = []
        for (var i = 0; i < waypointsForSelfLength; i++) {
          pathList.push({'lat': parseFloat(waypoints_for_self[i][0]), 'lng': parseFloat(waypoints_for_self[i][1])});
            }
        console.log(pathList)

        // Create the polyline
        selfLine = new google.maps.Polyline({
        path: pathList,
          //logged in user has a black line
          strokeColor: '#000000',
          icons: [{
            icon: selfLineSymbol,
            offset: '100%'
          }],
          map: map
        });

        // colors for the not-the-logged-in-user's symbols
        //                   purple, orange, tomato, darkturquoise
        var symbolcolors = ['#a862ea', '#ff944d', '#ff6347', '#00CED1']
        //repeat this section for each other user, up to number of colors available
        n = symbolcolors.length //number of colors allowed

        //BEGIN loop for waypoints by user
        for (var i = 0; i<n; i++) {

          // Define symbol
          var userLineSymbol = {
            path: google.maps.SymbolPath.CIRCLE,
            scale: 4,
            strokeColor: symbolcolors[i]
            };

          // Create the polyline
          var pathListByUser = [];
          //iterate through waypoints_by_user to get waypoints for user i
          for (var i = 0; i < waypointsByUserLength; i++) {
            pathListByUser.push({'lat': parseFloat(waypoints_by_user[i][0]),
                               'lng': parseFloat(waypoints_by_user[i][1])});
            }
        console.log(pathListByUser)
          
          userLine = new google.maps.Polyline({
            path: pathListByUser,
            strokeColor: '#999999',
            icons: [{
               icon: userLineSymbol,
               offset: '100%'
              }],
             map: map
            });
        //END loop for waypoints by user
          }

        }

      // initialize the map
      function initMap() {
         map = new google.maps.Map(document.getElementById('map'), {
          center:  {'lat': {{ center[0] }}, 'lng': {{ center[1] }} },
          zoom: 13  ,
          mapTypeId: 'roadmap'
        });

        // add marker for destination point
        var marker = new google.maps.Marker({
        position: {'lat': {{ center[0] }}, 'lng': {{ center[1] }} },
        map: map,
        title: 'Rendezvous point'
        });

        //animates the movement of the Symbols
        // setTimeout(animateSymbol(userLine, 45), 4500)
        // animateSymbol(selfLine, 40);
        }

      // Use the DOM setInterval() function to change the offset of the symbol
      // at fixed intervals.
      // var id1
      // function animateSymbol(line, speed) {
      //     var count = 0;
      //     id1 = window.setInterval(function() {
      //       count = (count + 1);

      //       var icons = line.get('icons');
      //       icons[0].offset = (count / 2) + '%';
      //       line.set('icons', icons);
            //make animation to stop at destination
            // if (line.get('icons')[0].offset == "99.5%") {
      //           icons[0].offset = '100%';
      //           line.set('icons', icons);
      //           window.clearInterval(id1);

      //   } }, speed);
      // }


    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQebJTWGOQmOsuTYscQ5bjCVjBenHOgC0&callback=initMap">
    </script>
    </body>
</html>