<!DOCTYPE html>
<html lang = "en" style="height: 100%">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
        <!-- title is on browser tab -->
        <title>Rendezvous</title> 
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- fonts -->
        <link href="https://fonts.googleapis.com/css?family=Gabriela|Roboto:400,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet"> 
    </head>
    <body>

    <small>You are currently logged in as {{ session['user_name'] }}. Click <a href="/users/{{ session['user_id'] }}">here </a>to go to your profile
    </small>

    <h3>Rendezvous Map</h3>
    <div id="map"></div>
    <div id="legend"><h3>Legend</h3></div>
    <script>
      /* to pass invite_id, login, and center position to the javascript */
      var user_id = {{ session.user_id }}
      var invite_id = {{ invite_id }}
      var center_lat = {{ center[0] }}
      var center_lng = {{ center[1] }}
      // got user's names via the AJAX request for waypoints data
    </script>

  <script src="static/js/rendezvous-mapv3.js"></script>
  <link rel="stylesheet" href="\static\css\map.css">
  <script
    src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&callback=initMap">
  </script>

<!-- add separate css just for this map page -->

    </body>
</html>