<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Rendezvous Map v2</title>
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <h3>Rendezvous Map</h3>
    <div class="col-xs-12" id="map"></div>

<script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
<script src="static/js/rendezvous-map.js" type="text/javascript" ></script>
<script
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAQebJTWGOQmOsuTYscQ5bjCVjBenHOgC0&callback=initMap">
</script>

  </body>
</html>