{% extends 'base.html' %}
{% block content %}

<div class="container">
      <ul class="nav nav-pills">
    <li class="active"><a data-toggle="pill" href="#profile">Profile</a></li>

    <!-- need to change these to two groups:  Received Invites (whose dates are in the future)  -->
    <!-- which has grouped Pending (accept/decline), Declined (accept), Accepted (decline) -->
    <!-- and Sent Invites (all but status 'ina'??) with (cancel) button changes status to 'ina' for all users on invites or (modify) which opens to /new-invitation with modal form populated with current data so you can change and submit...?? -->
    <!-- which has list by date & name that you click on to see: -->\
    <!-- Pending: list of users who have not responded to invite -->
    <!-- Active: list of users who have said yes -->
    <!-- Declined:  list of users who have declined the invite -->
    <li><a data-toggle="pill" href="#sentInvite">Sent Invitations</a></li>
    <li><a data-toggle="pill" href="#receivedInvite">Received Invitations</a></li>
    <!-- <li><a data-toggle="pill" href="#RejectedInvite">Rejected Invitations</a></li> -->
    <li><a data-toggle="pill" href="#Friends">Friends</a></li>
  </ul>
  <div class="tab-content">
      <div id="profile" class="tab-pane fade in active">
        <h2>Welcome, {{ session['user_name'] }}!</h2>
          
        <h3>Imminent Rendezvous - Click to go!</h3>
         <ul>{% for invite in imminent_invites_sum %}
              {% if session.user_id == invite[7] %}
          <li>
              <form action='/rendezvous-map-v3' method='POST' name='inviteform'>
                <input type='hidden' name='user_id' value={{ session.user_id }}>
                <input type='hidden' name='invite_id' value={{ invite[1] }}>
                <input type='submit'name='submit_button' value= 'ID: {{invite[1] }} {{ invite[3] }} {{ invite[2] }}' style='width:auto' >
              </form>
          </li>
              {% else %}
          <li>
              <form action='/rendezvous-map-v3' method='POST' name='inviteform'>
                <input type='hidden' name='user_id' value={{ session.user_id }}>
                <input type='hidden' name='invite_id' value={{ invite[1] }}>
                <input type='submit'name='submit_button' value= 'ID: {{invite[1] }} {{ invite[3] }} {{ invite[2] }} with {{ invite.name }}' style='width:auto' >
              </form>
          </li>
              {% endif %}
             {% endfor %}
          </ul>
        <p> Click <a href='/rendezvous-map'>here</a> for animated google map
          </p> 
        <p> Click <a href="/invitation-new">here</a> to create a new Rendezvous
          </p>
      </div>
      <div id="sentInvite" class="tab-pane fade">
          <h2>Invitations You have Sent</h2>
<!-- this would be better if it was organized with in-line modal expansion -->
<!-- sort under invite info into Pending, Accepted, Declined with button to click -->
<!--  and have it expand list of friends who haven't answered, accepted, declined -->
          <ul>{% for invite in all_my_invites %} 
              <li>
                <!--0 Invitation.invite_id,
                    1 Invitation.rendezvous_name,
                    2 Invitation.rendezvous_date,
                    3 Invitation.rendezvous_location_name,
                    4 Invitation.rendezvous_location_address,
                    5 Invitation.created_by_id,
                    6 Invitation.created_date,
                    7 UserInvite.user_id,
                    8 UserInvite.status,
                    9 Status.status_description,
                    10 User.name,
                    11 User.email  -->
                  Name:  {{ invite[10] }}<br>
                  Date:  {{ invite[2] }}<br>
                  Location:  {{ invite[3] }}<br>
                   {{ invite[4] }}<br>
                  Friend:  {{ invite[10] }}<br>
                  Status: {% if invite[9] == 'active' %} <b>Accepted</b>
                      {% else %} {{ invite[9] }}
                      {% endif %}<br>
              </li>
              {% endfor %}
          </ul>
      </div>
      <div id="receivedInvite" class="tab-pane fade">
          <h2>Received Invitations</h2>
          <hr>
          <h3>Pending</h3>
          <ul>{% for invite in received_invites_sum if invite[0] == 'pen' %}
            <li>
              <!--  0 UserInvite.status,
                    1 Status.status_description,
                    2 UserInvite.invite_id,
                    3 Invitation.rendezvous_name,
                    4 Invitation.rendezvous_date,
                    5 User.name,
                    6 Invitation.rendezvous_location_name,
                    7 Invitation.rendezvous_location_address,
                    8 User.user_id -->
<!-- it would be way better if i did the status change using jQuery -->
<!-- wouldn't it? -->
              InviteID: {{ invite[2] }}
              Name: {{ invite[3] }} <br>
              Location: {{ invite[5]}}<br>
              {{ invite[6] }}<br>
              Invited by: {{ invite[4] }} <br>
              Date and time: {{ invite[3] }} <br>
              <b>Current Status: {{ invite[1]}} </b><br>
              Click below to modify the status:
              <form action='/invitation-change-status.json', method='POST' name='inviteform'>
                  <input type='hidden' name='invite_id' value={{ invite[2] }}>
                  <input type='submit'name='received_submit_button' value= 'Accept' >
                  <input type='submit'name='received_submit_button' value= 'Decline' >
              </form>
            </li>
          {% endfor %}
          </ul>
          <hr>
          <h3>Accepted</h3>
          <ul>{% for invite in received_invites_sum if invite[0] == 'act' %}
            <li>
              Name: {{ invite[2] }} <br>
              Location: {{ invite[5]}}<br>
              {{ invite[6] }}<br>
              Invited by: {{ invite[4] }} <br>
              Date and time: {{ invite[3] }} <br>
              <b>Current Status: {{ invite[1]}} </b><br>
              Click below to modify the status:

              <form action='/invitation-change-status.json', method='POST' name='inviteform'>
                  <input type='hidden' name='invite_id' value={{ invite[2] }}>
                  <input type='submit'name='received_submit_button' value= 'Decline' >
                  <input type='submit'name='received_submit_button' value= 'Pending' >
              </form>
            </li>
          {% endfor %}
          </ul>
          <hr>
          <h3>Declined</h3>
          <ul>{% for invite in received_invites_sum if invite[0] == 'rej' %}
            <li>
              Name: {{ invite[2] }} <br>
              Location: {{ invite[5]}}<br>
              {{ invite[6] }}<br>
              Invited by: {{ invite[4] }} <br>
              Date and time: {{ invite[3] }} <br>
              <b>Current Status: {{ invite[1]}} </b><br>
              Click below to modify the status:
              <form action='/invitation-change-status.json', method='POST' name='inviteform'>
                  <input type='hidden' name='invite_id' value={{ invite[2] }}>
                  <input type='submit'name='received_submit_button' value= 'Accept' >
                  <input type='submit'name='received_submit_button' value= 'Pending' >
              </form>
            </li>
          {% endfor %}
          </ul>
  </div>

      <div id="Friends" class="tab-pane fade">
          <h2>Friend Requests:</h2>
          <p> Short description with buttons to Accept or Reject
          (maybe a note that if you reject, that person will not be able to ask you again)
          </p>
          <ul> {% for friend in user.pending_friends|sort(attribute='request_date') %} 
                  <li>
                      {{ friend.name }}
                  </li>
              {% endfor %}
          </ul>
      </div>
    </div>
</div>
<script>
if (location.hash) {
  $('a[href=\'' + location.hash + '\']').tab('show');
}
var activeTab = localStorage.getItem('activeTab');
if (activeTab) {
  $('a[href="' + activeTab + '"]').tab('show');
}

$('body').on('click', 'a[data-toggle=\'tab\']', function (e) {
  e.preventDefault()
  var tab_name = this.getAttribute('href')
  if (history.pushState) {
    history.pushState(null, null, tab_name)
  }
  else {
    location.hash = tab_name
  }
  localStorage.setItem('activeTab', tab_name)

  $(this).tab('show');
  return false;
});
$(window).on('popstate', function () {
  var anchor = location.hash ||
    $('a[data-toggle=\'tab\']').first().attr('href');
  $('a[href=\'' + anchor + '\']').tab('show');
});
</script>
{% endblock %}